* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.shelves {
    background-color: red;
    padding: 2em 5em;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.2fr;
    grid-auto-rows: 1fr;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.shelves > h1 {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
}

.card {
    background-color: white;
    padding: 1em;
    border-radius: 7px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
    gap: 1em;
}

.card > h2 {
    grid-row: 1;
    grid-column: 1 / -1;
}

.card > .key {
    grid-column: 1;
}

.card > .value {
    grid-column: 2;
}
