* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

h1 {
    padding-top: 0.5em;
    text-align: center;
}

.newBookBtn {
    font-size: 2em;
    position: fixed;
    top: 0.25em;
    right: 0.25em;
    height: 2em;
    width: 2em;
    border-radius: 0.5em;
    border: none;
    color: white;
    background-color: darkgreen;
    cursor: pointer;
}

.newBookForm {
    position: fixed;
    top: 25vh;
    left: 25%;
    height: 50vh;
    width: 50%;
    padding: 2em;

    display: none;
    grid-template-columns: 1fr 3fr;
    grid-auto-columns: 1fr;
    align-items: center;
    gap: 1em;
}

.newBookForm > h2 {
    grid-row: 1;
    grid-column: 1 / -1;
}

.newBookForm > label {
    grid-column: 1;
}

.newBookForm > input {
    grid-column: 2;
    height: 1em;
    text-align: right;
    padding: 0.5em 1em;
}

.newBookForm > input[type='checkbox'] {
    height: 2em;
}

.newBookForm > button {
    width: 7em;
    justify-self: right;
}

.newBookForm > .confirmFormBtn {
    justify-self: left;
}

.shelves {
    padding: 2em 5em;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.2fr;
    grid-auto-rows: 1fr;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: lightgrey;
    padding: 1em;
    border-radius: 7px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
    gap: 1em;
}

.card > h2 {
    grid-row: 1;
    grid-column: 1 / -1;
}

.card > .key {
    grid-column: 1;
}

.card > .value {
    grid-column: 2;
}

